---
redirect_from:
    - /xpiano
    - /XPiano
    - /xPiano
    - /Xpiano
    - /X-piano
    - /x-Piano
    - /x-piano
---

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="X Piano: Now you can make your own piano!">
    <script src="script/jquery-2.1.1.min.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/init.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>X Piano</title>
</head>

<body onmouseup="Piano.stop()" onblur="Piano.stop()">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="https://github.com/JesseTG/X-Piano/tree/gh-pages" title="Fork this on GitHub!"></a>

            <h1 id="project_title">X Piano</h1>
            <h2 id="project_tagline">Now you can make your own piano!</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <div class="messages">
            {% include help.html %}
            {% include audio-error.html %}
        </div>
        <main id="main_content" class="inner">
            <noscript>
                {% include noscript.html %}
            </noscript>
            <section id="app">
                <form id="controls" class="form-horizontal">
                    <div>
                        <div>
                            <div class="col-md-3">
                                {% include controls/biquad.html %}
                            </div>
                            <div class="col-md-3">
                                {% include controls/compress.html %}
                            </div>
                            <div class="col-md-3">
                                {% include controls/mix-tone.html %}
                                {% include controls/convolve.html %}
                            </div>
                            <div class="col-md-3">
                                {% include controls/settings.html %}
                            </div>
                        </div>
                    </div>
                </form>

                <div id="piano-wrapper">
                    {% include piano.svg %}
                </div>

            </section>

            <section id="not-compatible">
                {% include not-compatible.html %}
            </section>
        </main>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p id="copyright">
                X Piano by <a href="/">Jesse Talavera-Greenberg</a>
            </p>
            <p id="gh-pages">
                Published with <a href="http://pages.github.com">GitHub Pages</a>
            </p>
        </footer>
    </div>

    <script src="script/piano.js"></script>

</body>

</html>
