<div class="modal fade" id="audio-error">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-danger">Oops!</h4>
      </div>
      <div class="modal-body bg-danger">
        <p class="text-danger">It doesn't look like that's a valid audio file; it might be corrupted, or in a format that X Piano doesn't support.  Sorry!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->