<div class="modal fade" id="help-message">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About X Piano</h4>
      </div>
      <div class="modal-body">
        <p>X Piano is a web app that lets you use your own sound effects as piano keys.  You can also apply various filters to them and tune them to your liking.  Great for making sound effects, or for simply screwing around.</p>
        <p>Use the keyboard keys from A-I and Z-M (plus the rows above them) to play!  Record sound effects with Audacity or similar!</p>
        <p>X Piano was created by <a href="/">Jesse Talavera-Greenberg</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->