<div id="sound-settings">
    <div class="input-group input-group-sm">
        <label class="input-group-addon" for="piano-volume">
            Volume <span class="glyphicon glyphicon-volume-up"></span>
        </label>
        <input class="form-control" id="piano-volume" type="range" name="piano-volume" min="0" max="1" step=".01" value="1" data-filter="volume" data-parameter="piano" />
    </div>

    <div class="btn-group input-group input-group-sm" data-toggle="buttons">
        <label class="input-group-addon" for="loop-sound-input">
            Loop
        </label>
        <span class="btn btn-block btn-default form-control active">
            <input style="display: none" id="loop-sound-input"  type="checkbox" data-filter="loop" checked data-parameter="enabled"  />
        <span class="glyphicon glyphicon-off"></span>
        <!--FIX THE INLINE STYLE-->
        </span>
    </div>


    <label class="btn btn-sm btn-primary btn-file btn-block">
        <span class="filename">Custom Sound</span>
        <span class="glyphicon glyphicon-time loading"></span>
        <input type="file" name="user-sound" accept="audio/*" onchange="Piano.uploadSound(this.files[0])" title="Custom Sound" />
    </label>

    <div class="btn-group btn-group-sm btn-group-justified" role="group">
        <div class="btn-group btn-group-sm" role="group">
            <button id="reset" type="button" class="btn btn-primary">Reset</button>
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <button id="random" type="button" class="btn btn-primary">Random</button>
        </div>
        <div class="btn-group btn-group-sm" role="group">
            <button id="mutate" type="button" class="btn btn-primary">Mutate</button>
        </div>
    </div>

    <button type="button" id="help" class="btn btn-primary btn-sm btn-block">Help</button>
</div>
